<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Published Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surve of survey">
            <td>{{ surve.id }}</td>
            <td>{{ surve.description }}</td>
            <td>{{ surve.publishedDateTime }}</td>
            <td>{{ surve.endDateTime }}</td>
            <td>{{ surve.active }}</td>
            <td>
                <button routerLink="/addFeedback">Give Feedback</button> 
            </td>        
          </tr>
        </tbody>
      </table>
    </div>
  </div>

