input.ng-invalid.ng-touched{
   
    color: red;
    border:2px  solid red;
}
label{
   font-weight: bold; 
   color: rgb(51, 2, 2);
   font-size: large;
}
#username{
    color: rgb(8, 8, 8);
}
#firstname{
    color: rgb(14, 12, 12);
}
#lastname{
    color: rgb(14, 12, 12);
}