<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Preview About</title>
</head>
<body>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">        
            
            <div class="image-container">
                <img src="./assets/aboutus.jpeg" alt="">
                
            </div>

            <div class="text-container">
                <h1>About us</h1>
                <p>A survey is a research method used for collecting data from a predefined group of respondents <br> to gain information and insights into various topics of interest. <br> The process involves asking people for information through a questionnaire, which can be either online or offline.</p>
                <a href="">Read More</a>
            </div>
            
        </div>
    </div>
    </body>
</html>


         
     





