<nav class="navbar navbar-primary">
    <span class="navbar-brand mb-0 h1" id="headnav"><mat-icon>people</mat-icon>Surveyor Dashboard</span>
    <div>
        <!-- <button type="button" class="btn btn-warning" id="logbtn" routerLink="/home"><mat-icon>logout</mat-icon>Logout</button> -->
    </div>
</nav>

<section id="block">
    <div class="box">
        <div>Survey</div>
        <div class="btn">
            <button type="button" class="btn btn-info" routerLink="/addSurvey">Add Survey</button>&nbsp;
            <button type="button" class="btn btn-info" routerLink="/survey">View Survey</button>
        </div>    
    </div>
    <div class="box">
        <div>Topic</div>
        <div class="btn">
            <button type="button" class="btn btn-info" routerLink="/topic">View Topic</button>
        </div>
    </div>
    <div class="box">
        <div>FeedBack</div>
        <div class="btn">
            <button type="button" class="btn btn-info" routerLink="/addQuestion">Add Question</button>&nbsp;
            <button type="button" class="btn btn-info" routerLink="/question">view Feedback</button>
        </div>
    </div>
    <div class="box">
        <div>Participant</div>
        <div class="btn">
            <button type="button" class="btn btn-info" routerLink="/listuser">View Participant</button>&nbsp;
        </div>
    </div>
</section>

