<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">QuestionText</th>
            <th scope="col">Answer</th>
            <th scope="col">Posted DateTime</th>
            <th scope="col">Review</th>
            <!-- <th scope="col">Options</th> -->
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let text of question">
            <td>{{ text.id }}</td>      
            <td>{{ text.questionText }}</td>
            <td>{{ text.answer }}</td> 
            <td>{{ text.feedback.postedDateTime }}</td> 
            <td>{{ text.feedback.review }}</td> 
            <td>
              <button (click)="updateQuestion(text.id)" class="btn btn-info">Submit</button>
            </td>          
          </tr>       
        </tbody>
      </table>
    </div>
  
</div>



